<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%=hero?hero.title:"" %>-Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700"> 
    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/product.css">
    <link rel="stylesheet" href="/css/toastr.css">
    <link rel='shortcut icon' type='image/x-icon' href='https://res.cloudinary.com/dlbclykto/image/upload/v1624566392/Images/favicon_boblhz.ico' />


    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
<link rel="stylesheet" href="/css/toastr.css">
<link rel="stylesheet" href="/plugins/sweetalert2/sweetalert2.min.css">
<link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">





    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/style.css">
    
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-215698273-1">
</script>
<script>

  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-215698273-1');
</script>
  </head>
  <body>
    <%-include('../layouts/home/telegram.ejs')%>

    
    <%-include('../layouts/home/preloader.ejs')%>
      
    <%-include('../layouts/home/back_to_top.ejs')%>
   


    <!-- <form autocomplete="off"><input type="text" name="q" id="q" style="font-weight: 400;" onKeyUp="showResults(this.value)" />
      <div id="result"></div>
      </form> -->
    


  <div class="site-wrap">
    <%-include('../layouts/home/header.ejs')%>
     
      
    <p style="display: none" id="searchList" >this</p>
   

      

    <div class="site-blocks-cover" style="background-image: url('<%=hero?hero.image:" "%>');" data-aos="fade">
      <div class="container">
        <div class="row align-items-start align-items-md-center justify-content-end">
          <div class="col-md-5 text-center text-md-left pt-5 pt-md-0">
            <h1 class="mb-2  text-dark" ><%=hero?hero.sDesc:""%></h1>
            <div class="intro-text text-center text-md-left">
              <p class="h5 mb-4 text-white"><%=hero?hero.sRDesc:""%> </p>
              <p>
                <a href="/shop" class="btn btn-sm btn-primary">Shop Now</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section site-section-sm site-blocks-1" >
      <div class="container" id="features">
        <div class="row"   >
          <%-include('../layouts/home/site-feature')%>

          
        </div>
      </div>
    </div>

    <div class="site-section site-blocks-2">
      <div class="container">
        <div class="row">
          
        <%categories.forEach(category=>{%>
          <div class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="" data-aos-delay="">
            <a class="block-2-item" href="/shop/<%=category.name%>/">
              <figure class="image">
                <img src="<%=category.catCover%>"  alt="" class="img-fluid cd- mt-4">
              </figure>
              <div class="text">
                <span class="text-uppercase">COLLECTIONS</span>
                <h3 class="text-uppercase"><%=category.name%></h3>
              </div>
            </a>
          </div>
        <%})%>
          
        </div>
      </div>
    </div>

    <div class="site-section block-3 site-blocks-2 bg-light">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-7 site-section-heading text-center pt-4">
            <h2>Featured Products</h2>
          </div>
        </div>
        <div class="row">
          <style>
 

.custom-badge {
    background-color: #343a40 !important;
    color: #fff;
    font-size: 11px;
    padding: 5px;
    padding-left: 11px;
    padding-right: 11px;
    border-radius: 7px
}

.card {
    border: none;
    padding: 15px;
    cursor: pointer
}

.time i {
    color: #cacacaa3
}
          </style>

          <div class="site-section container mt-5">
            <div class="d-flex justify-content-between align-items-center mb-3"> <span>Hottest Giveaways</span>  <a href="/shop"><span class="custom-badge text-uppercase">See More</span></a> </div>
            <%for(featuredProduct of ftp){%>  
         
            <div class="row justify-content-center mt-4">


              <div class="col-md-7 site-section-heading text-center pt-4">
                <%featuredName=featuredProduct.featuredCategoryName%>
                <%featuredName=  featuredName.charAt(0).toUpperCase() + featuredName.slice(1);%>
            <a href="/shop/<%=featuredProduct.featuredCategoryName%>"><h2><%=featuredName%>                </h2></a>
              </div>
            </div>
          <div class="row">
        <%for(product of featuredProduct.featuredProducts){%>
                
            <div class="col-md-4 mt-4">
          <a href="/shop-product/<%=product.slug%>/">

                <div class="card">
                  
                    <%let dbDate=new Date(product.createdAt)%>
                  <%let today=new Date()%>
                  <%let oneDay=1000*60*60*24%>
                  <%let diffInTime=today.getTime() -dbDate.getTime() %>
                  <% let diffInDays=Math.round(diffInTime / oneDay);%>
                  <div class="d-flex justify-content-between align-items-center">
                    <%if(diffInDays>=2){%>
                      <div class="d-flex flex-row align-items-center time"> <i class="fa fa-clock-o"></i> <small class="ml-1">Posted Recently</small> </div> <img src="https://i.imgur.com/suuFVrQ.png" width="20">
                    <%}else if(diffInDays==1){%>
                      <div class="d-flex flex-row align-items-center time"> <i class="fa fa-clock-o"></i> <small class="ml-1">Posted Yesterday</small> </div> <img src="https://i.imgur.com/suuFVrQ.png" width="20">
                      <%}else{%>
                      <div class="d-flex flex-row align-items-center time"> <i class="fa fa-clock-o"></i> <small class="ml-1">Posted Today</small> </div> <img src="https://i.imgur.com/suuFVrQ.png" width="20">
                        
                      <%}%>
                    </div>
                    <div class="text-center"> <img src="<%=product.image[0]%>" alt="<%=product.name%>" width="250"> </div>
                    <div class="text-center">
                        <h5 class="text-capitalize"><%=product.name%></h5> <span class="text-success">₵<%=product.price%> value</span>
                    </div>
                    <%if(product.discount>0){%>
                      <div class="row mt-1" style="display:flex;align-items:center;justify-content:center">

                        <%  if(product.discount==50){%>
                           <div class="card" style="color:white;background:black;">  
                             <div class=""><%=product.discount%>%Off</div>
                           </div>
                          <%}else{%>
                           <div class="card" style="color:white;background:#7971ea;">  
                             <div class=""><%=product.discount%>%Off</div>
                           </div>
                          <%}%>
                         <div class="card" style="color:black;background:white;">  
                           <div class=""><del>₵<%=product.oldPrice%></del></div>
                         </div>
                      
                       </div>
                      <%}%>


                    

                </div>
          </a>
            
              </div>
                <%}%>
                
            </div>

<%}%>          </div>
        </div>
      </div>

   

    </div>
   

    <div class="site-section block-8">
      <div class="container">
        <div class="row justify-content-center  mb-5">
          <div class="col-md-7 site-section-heading text-center pt-4">
            <h2>Big Sale!</h2>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-md-12 col-lg-7 mb-5">
            <a href="#"><img src="<%=ad?ad.adImg:""%>" alt="Image placeholder" class="img-fluid rounded"></a>
          </div>
          <div class="col-md-12 col-lg-5 text-center pl-md-5">
            <h2><a href="#"><%=ad?ad.adTitle:""%></a></h2>
            <p class="post-meta mb-4">By <a href="#"><%=ad?ad.user.name:""%></a> <span class="block-8-sep">&bullet;</span> <%=ad?new Date(ad.createdAt).toDateString():""%></p>
            <p><%=ad?ad.adDescription:""%></p>
            <p><a href="/offItems" class="btn btn-primary btn-sm">Shop Now</a></p>
          </div>
        </div>
      </div>
    </div>

    <%-include('../layouts/home/footer.ejs')%>
  </div>

  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>

  <script src="js/main.js"></script>
  <script>

  </script>
<%-include('../layouts/home/preloaderJS.ejs')%>
<%-include('../layouts/admin/scripts.ejs')%>

<!-- <script>
function showResults(val) {
  $("#result").css("display","block")

  res = document.getElementById("result");
  res.innerHTML = '';
  if (val == '') {
    return;
  }
  let list = '';
  fetch('/suggest?q=' + val).then(
   function (response) {
     return response.json();
   }).then(function (data) {
     for (i=0; i<data.length; i++) {
       list += '<li class="try">' + data[i] + '</li>';
     }
     res.innerHTML = '<ul>' + list + '</ul>';
    const trY=document.querySelectorAll(".try")
   const input=document.querySelector('#q')

   trY.forEach(res=>{
    res.addEventListener('click',function(){
    input.value=res.innerHTML
    list=''
    // document.getElementById("result").
    $("#result").css("display","none")
   })
   })
     return true;
   }).catch(function (err) {
     console.warn('Something went wrong.', err);
     return false;
   });

   
}
</script> -->

    <%-include('../layouts/home/whatsapp.ejs')%>
    
  </body>
</html>