<!DOCTYPE html>
<html lang="en">
  <head>
   
    <title><%=hero?hero.title:"" %>-50%OffItems</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700"> 
    <link rel="stylesheet" href="/fonts/icomoon/style.css">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/jquery-ui.css">
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/toastr.css">

    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">


    <link rel="stylesheet" href="/css/aos.css">
    <link rel='shortcut icon' type='image/x-icon' href='https://res.cloudinary.com/dlbclykto/image/upload/v1624566392/Images/favicon_boblhz.ico' />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.css" integrity="sha512-NXUhxhkDgZYOMjaIgd89zF2w51Mub53Ru3zCNp5LTlEzMbNNAjTjDbpURYGS5Mop2cU4b7re1nOIucsVlrx9fA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-215698273-1">
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-215698273-1');
</script>

  </head>
  <body>
    <%-include('../layouts/home/telegram.ejs')%>

    <%-include('../layouts/home/preloader.ejs')%>
    <%-include('../layouts/home/back_to_top.ejs')%>

  
  <div class="site-wrap">
    <%-include('../layouts/home/header.ejs')%>
    <div class="bg-light py-3">
        <div class="container">
          <div class="row">
            <div class="col-md-12 mb-0"><a href="/">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Shop</strong></div>
          </div>
        </div>
      </div>
      <div class="site-section">
        <div class="container">
  
          <div class="row mb-5">
            <div class="col-md-9 order-2">
  
              <div class="row">
                <div class="col-md-12 mb-5">
                    <div class="float-md-left mb-4"><h2 class="text-black h5">50% Off Items</h2></div>

                 
                </div>
              </div>
             
              
              <div class="row mb-5">
                  <%products.forEach(product=>{%>
                <div class="col-sm-6 col-lg-4 mb-4 aos-init aos-animate" data-aos="fade-up">
                    <div class="block-4 text-center border">
                      <figure class="block-4-image">
                        <a href="/shop-product/<%=product.slug%>/"><img width="479" height="349" src="<%=product.image[0]%>"  style="background-position: center; background-size:cover" alt="<%=product.name%>" class="img-fluid"></a>
                      </figure>
                      <div class="block-4-text p-4">
                        <h3><a href="/shop-product/<%=product.slug%>/"><%=product.name%></a></h3>
                        <p class="mb-0"><%=product.description.substring(0,50)%>....</p>
                        <p class="text-primary font-weight-bold">₵<%=product.price%></p>

                        <%if(product.discount>0){%>
               
                        
                          <div class="">
    
                         <%  if(product.discount==50){%>
                            <div class="card" style="color:white;background:black;">  
                              <div class=""><%=product.discount%>%Off</div>
                            </div>
                           <%}else{%>
                            <div class="card" style="color:white;background:#7971ea;">  
                              <div class=""><%=product.discount%>%Off</div>
                            </div>
                           <%}%>
                          <div class="card" style="color:black;background:white;">  
                            <div class=""><del>₵<%=product.oldPrice%></del></div>
                          </div>
                       
                        </div>
                          <%}%>
                      </div>
                    </div>
                  </div>
                  <%})%>
    
              </div>
              <div class="row aos-init aos-animate" data-aos="fade-up">
                <%-include('../layouts/home/paginate-offItems')%>
              </div>
            </div>
  
            <div class="col-md-3 order-1 mb-5 mb-md-0">
              <div class="border p-4 rounded mb-4">
                <h3 class="mb-3 h6 text-uppercase text-black d-block">Categories</h3>
                <ul class="list-unstyled mb-0">
                    
                    <%let index=-1%>

                    <%categories.forEach(category=>{%>
                        <%index+=1%>
                        
                        
                        <li class="mb-1"><a href="/shop/<%=category.name%>" class="d-flex"><span class="text-uppercase"><%=category.name%></span> <span class="text-black ml-auto"><%=catCountArr[index]%></span></a></li>
                        <%})%>



                 
                </ul>
              </div>
  
              
            </div>
          </div>
  
          <div class="row">
            <div class="col-md-12">
             <div class="site-section site-blocks-2">
      <div class="container">
        <div class="row">
          
        <%categories.forEach(category=>{%>
          <div class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="200">
            <a class="block-2-item" href="/shop/<%=category.name%>/">
              <figure class="image">
                <img src="<%=category.catCover%>"  width="900" height="1182" alt="" class="img-fluid cd- mt-4">
              </figure>
              <div class="text">
                <span class="text-uppercase">COLLECTIONS</span>
                <h3 class="text-uppercase"><%=category.name%></h3>
              </div>
            </a>
          </div>
        <%})%>
          
        </div>
      </div>
    </div>

            </div>
          </div>
          
        </div>
      </div>
          </div>
          <!-- </form> -->
        </div>
      </div>

    <%-include('../layouts/home/footer.ejs')%>
  </div>
  

  <script src="/js/jquery-3.3.1.min.js"></script>
  <script src="/js/jquery-ui.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/owl.carousel.min.js"></script>
  <script src="/js/jquery.magnific-popup.min.js"></script>
  <script src="/js/aos.js"></script>
  <script src="/js/main.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.js" integrity="sha512-mgZL3SZ/vIooDg2mU2amX6NysMlthFl/jDbscSRgF/k3zmICLe6muAs7YbITZ+61FeUoo1plofYAocoR5Sa1rQ==" crossorigin="anonymous"></script>
    
  <%-include('../layouts/home/preloaderJS.ejs')%>
 
</body>
</html>