<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%=hero?hero.title:"" %>-register</title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700"> 
    <link rel="stylesheet" href="/fonts/icomoon/style.css">
  <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="/css/toastr.css">
  <link rel='shortcut icon' type='image/x-icon' href='https://res.cloudinary.com/dlbclykto/image/upload/v1624566392/Images/favicon_boblhz.ico' />



    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/jquery-ui.css">
    <link rel="stylesheet" href="/css/product.css">
<link rel="stylesheet" href="/css/toastr.css">


    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">


    <link rel="stylesheet" href="/css/aos.css">

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.css" integrity="sha512-NXUhxhkDgZYOMjaIgd89zF2w51Mub53Ru3zCNp5LTlEzMbNNAjTjDbpURYGS5Mop2cU4b7re1nOIucsVlrx9fA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">

  
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-215698273-1">
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-215698273-1');
</script>
  </head>
  <body>
   

  
  <div class="site-wrap">
    <%-include('../layouts/home/header.ejs')%>
    <div class="bg-light py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-0"><a href="/">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">register</strong></div>
              </div>
        </div>
      </div>
     
          </div>
          

          
          <div class="site-section border-bottom aos-init aos-animate" data-aos="fade" style="background: url('/svgs/bgs/bg2.svg');">
            <div class="container">
              <div class="row">
               <div class="col-md-6 mb-4 br-2 ">
                <div class="w-auto border"  style="border-radius:5%;padding: 480px 0px 0 ;background: url('/svgs/reg.svg');
                background-repeat: no-repeat;
                background-position: center;
                 box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);">

                </div>
                

               </div>
                  <div class="col-md-6 text-center" style="">
                    <div class="register-box"  style="
                    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 13px 0 rgba(0, 0, 0, 0.19);">
                        <div class="register-logo" >
                          <h1 href="/"><b><%=hero?hero.title:"" %></b></h1>
                        </div>
                      
                        <div class="card">
                          <div class="card-body register-card-body" style="padding:65px;">
                            <p class="login-box-msg">Register a new membership</p>
                            <%-include('../layouts/flashes')%>
                      
                            <form action="/users/register" method="post" id="myForm">
                              <div class="input-group mb-3">
                                <input type="text" name="name" class="form-control" placeholder="Full name" value="<%=typeof name!="undefined"?name:""%>">
                                <div class="input-group-append">
                                  <div class="input-group-text">
                                    <span class="fas fa-user" style="color:#7971ea"></span>
                                  </div>
                                </div>
                              </div>
                              <div class="input-group mb-3">
                                <input type="email" name="email" class="form-control" placeholder="Email" value="<%=typeof email!="undefined"?email:""%>">
                                <div class="input-group-append">
                                  <div class="input-group-text">
                                    <span class="fas fa-envelope" style="color:#7971ea"></span>
                                  </div>
                                </div>
                              </div>
                              <div class="input-group mb-3">
                                <input type="password" class="form-control"  name="password" id="pw-inpt" placeholder="Password" >
                                <div class="input-group-append">
                                  <div class="input-group-text">
                                    <span class="fas fa-eye ey-toggle" style="color:#7971ea"></span>
                                  </div>
                                  <script>
                                      let toggler=document.querySelector(".ey-toggle")
                                      let pwInpt=document.querySelector("#pw-inpt")
                                      toggler.addEventListener("click",(e)=>{
                                         let type=pwInpt.getAttribute("type")==='password'?'text':'password';
                                         pwInpt.setAttribute("type",type);
                                         toggler.classList.toggle("fa-eye-slash")


                                          
                                      })
                                  </script>
                                </div>
                              </div>
                              <div class="input-group mb-3">
                                <input type="password" class="form-control" name="passwordConfirm" id="p-inpt" placeholder="Confirm Password">
                                <div class="input-group-append">
                                  <div class="input-group-text">
                                    <span class="fas fa-eye y-toggle" style="color:#7971ea"></span>
                                  </div>
                                  <script>
                                      let toggleR=document.querySelector(".y-toggle")
                                      let pInpt=document.querySelector("#p-inpt")
                                      toggleR.addEventListener("click",(e)=>{
                                         let type=pInpt.getAttribute("type")==='password'?'text':'password';
                                         pInpt.setAttribute("type",type);
                                         toggleR.classList.toggle("fa-eye-slash")


                                          
                                      })
                                  </script>
                                </div>
                              </div>
                              
                              
                              <div class="row ">
                                <div class="col-md-6">
                                  <div class="icheck-primary">
                                    <input required="required" type="checkbox" id="agreeTerms" name="terms" value="agree">
                                    <label for="agreeTerms" >
                                     I agree to the <a href="/shipping">terms</a>
                                    </label>
                                  </div>
                                </div>
                                <!-- /.col -->
                                <div class="col-md-6">
                                  <button  type="submit" id="disableMe" class=" w-auto btn btn-outline-primary btn-block">Register</button>
                                </div>
                                <!-- /.col -->
                              </div>
                            </form>
                      
                            
                      
                            <a href="/users/login" class="text-center">I already have a membership</a>
                          </div>
                        </div>
                      </div>
                  </div>
              </div>
            </div>
          </div>
        
          <div class="site-section site-section-sm site-blocks-1">
            <div class="container">
              <div class="row">
                <%-include('../layouts/home/site-feature')%>
      
                
              </div>
            </div>
          </div>

<%-include('../layouts/admin/scripts.ejs')%>

<%-include('../layouts/home/footer.ejs')%>


  </div>

  <script src="/js/jquery-3.3.1.min.js"></script>
  <script src="/js/jquery-ui.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/owl.carousel.min.js"></script>
  <script src="/js/jquery.magnific-popup.min.js"></script>
  <script src="/js/aos.js"></script>
  <script src="/js/main.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.js" integrity="sha512-mgZL3SZ/vIooDg2mU2amX6NysMlthFl/jDbscSRgF/k3zmICLe6muAs7YbITZ+61FeUoo1plofYAocoR5Sa1rQ==" crossorigin="anonymous"></script>
  
<%-include('../layouts/admin/scripts')%>

<%-include('../layouts/home/whatsapp.ejs')%>
    
  </body>
</html>